@import "../../colours.scss";

.home {
  padding: 6vw;
  display: flex;
  overflow-wrap: break-word;

  .logos-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: calc(1rem + 1vw);

    hr {
      border: 0;
      border-top: 1px solid $green;
      margin-right: 1vw;
      width: 50%;
    }

    .logo {
      margin-right: 0.8vw;
      text-decoration: none;
      color: $green;
      outline: none;
    }
  }

  .name-container {
    word-spacing: 1000vh;
    color: $white;
    font-size: calc(1rem + 5vw);
    font-weight: bold;
    padding-bottom: 3vw;
  }

  .profile-container {
    color: $green;
    font-size: calc(1rem + 2vw);
    font-style: italic;
  }
}
