@import "../../theme/globalVariables.scss";

.nav {
  display: flex;
  height: 20vh;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  z-index: 10;
  .menu {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    .menuItem {
      padding: 2rem;
      list-style: none;
      .linkText {
        text-decoration: none;
      }
    }
  }
  .ishaLogo {
    display: flex;
    justify-self: flex-start;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
  }
}

.light {
  background-color: $lightThemePrimary;
}

.dark {
  background-color: $darkThemePrimary;
}
