@import "../../colours.scss";

.light {
  background-color: $light-theme-primary;
}

.dark {
  background-color: $dark-theme-primary;
}

.nav-container {
  position: fixed;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 3vw;
  padding-right: 3vw;
  z-index: 10;
}

.logo-container {
  text-decoration: none;
  color: $green;
  font-size: calc(1rem + 3vmin);
  cursor: pointer;
  outline: none;
  z-index: 1;

  &.mobile-menu {
    display: none;
  }
}

.nav-menu,
.hide-menu {
  display: flex;
  font-size: calc(1em + 1vh);
  text-decoration: none;

  @media screen and (min-height: 1000px) {
    font-size: calc(1em + 0.5vh);
  }
}

.nav-link {
  color: $white;
  text-decoration: none;
  padding: 0.2rem 1rem;
  cursor: pointer;
  outline: none;
  display: flex;

  &.active {
    border-bottom: 2px solid $green;
    padding-bottom: 0.2rem;
  }

  &:hover {
    background-color: $light-black;
    border-radius: 0.2rem;
  }
}

@media screen and (max-width: 768px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;

    &.light {
      background-color: $light-theme-primary;
    }

    &.dark {
      background-color: $dark-theme-primary;
    }
  }

  .hide-menu {
    display: none;
  }

  .nav-link-container {
    padding: 5vh;
  }

  .mobile-menu {
    font-size: calc(1rem + 3vmin);
    cursor: pointer;
    color: $green;
    z-index: 1;
  }
}
